/* Taken from getting started guide at: https://leafletjs.com/examples/quick-start/ */
@import "https://unpkg.com/leaflet@1.7.1/dist/leaflet.css";
@import "https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap";

/* These CSS variables are global, so they are available in all CSS modules */
:root {
  --color-brand--2: #adc7ce;
  --color-brand--3: #93adb4;
  --color-brand--4: #6a86a4;

  --color-dark--0: #242a2e;
  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-dark--3: #000000;

  --color-light--0: #cdc9c9;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: #d6dee0;
  --color-light--4: #ffffff;
}

header {
  background: var(--color-brand--2);
  /* padding: 10px 20px; */
  color: var(--color-dark--3);
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* display: flex; */
  /* justify-content: space-between;
  align-items: center;
  padding: 10px 20px; */
}

.img {
  background-image: url('../public/Logo-Final-SOS-Tractari-Alb-dar-negru.png');
  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
  /* width: 100px;
  height: 100px; */
  margin-top: 10px;
  margin-left: 30px;
  width: 130px;
  height: 70px;
}

.logo {
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  margin-left: 25px;
  text-transform: uppercase;
  margin-top: 1px;
} 

.menu ul {
  list-style: none;
  /* margin: 0; */
  padding: 0;
  display: flex;
  margin-right: 150px;
}

.menu ul li {
  margin-left: 55px;
}

.menu ul li button {
  display: inline-block;
  padding: 10px 20px;
  background: var(--color-brand--2);
  color: var(--color-dark--3);
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background: var(--color-light--2);
  margin: 5px 0;
  transition: 0.4s;
}

.menu ul li button:hover {
  background: var(--color-brand--3);
  color: var(--color-light--4);
}

.logoContainer {
  display: flex;
  flex-direction: column; /* Aranjare verticală pentru imagine și text */
  align-items: flex-start; /* Aliniere la stânga */
}


/* .hamburger {
  display: none; /* Ascunde hamburger-ul pe ecrane mari */
  /* flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: #000;
} */ 
/* 
.callButton {
  display: inline-block;
  background-color: var(--color-brand--2);
  color: var(--color-dark--3);
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s ease;
} 

.callButton:hover {
  display: inline-block;
  color: var(--color-light--4);
  cursor: pointer;
}

.callButton .phoneIcon {
  margin-right: 10px;
  /* margin-top: 500px; */
  /* width: 35px; */
  /* height: 35px; */
/* } */

.callButton, .cont {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none; /* Elimină sublinierea */
  padding: 10px 20px;
  margin: 10px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

/* Specific stil pentru butonul de apel */
.callButton {
  color: var(--color-dark--3);
  border: 2px solid #007BFF;
}

.callButton:hover {
  color: var(--color-light--4);
  background-color: #007bff;
}

.cont {
  color: var(--color-dark--3);
  border: 2px solid #25D366;
}

.cont:hover {
  color: var(--color-light--4);
  background-color: #25d366;
}

.phoneIcon, .whatsappIcon {
  margin-right: 10px;
  font-size: 20px;
}